* {
  margin: 0;
  line-height: 1.5;
}

#main {
  background-color: #f2f4f3;
  color: #0a0908;
}

#img-div {
  background-color: #a9927d;
}

#image {
  width: 600px;
  height: 700px;
  object-fit: cover;
}

.text--bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
