* {
  margin: 0;
  line-height: 1.5;
}

#main {
  background-color: #f2f4f3;
  color: #0a0908;
  font-family: "Nunito", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-name {
  font-size: 40px;
}

#img-div {
  background-color: #e0dcd6;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

#image {
  width: 600px;
  height: 700px;
  object-fit: cover;
  margin-bottom: 15px;
}

.list-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.list-item {
  margin-bottom: 10px;
}

.about {
  margin-bottom: 15px;
  margin-top: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.link {
  color: #22333b;
}

.text--bold {
  font-weight: 700;
}
.text--italic {
  font-weight: 200;
  font-style: italic;
  max-width: 800px;
}

.text--normal {
  font-weight: 400;
}
